.home-container {
    width: 92%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: end;
}
.custom-container {
    // background-color: skyblue;
    width: 92%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand-text {
    font-family: $secondary-font-family;
    font-size: 48px;
    color: $quaternary-color;
}
.secondary-brand-text {
    font-family: $primary-font-family;
    font-weight: 300;
    font-size: 20px;
    color: $quaternary-color;
}
.cate-title {
    font-family: $secondary-font-family;
    color: $quaternary-color;
    font-size: 20px;
}
@media (max-width: 769px) {
    .brand-text {
        font-size: 35px;
    }
    .home-container {
        justify-content: center;
    }
}